<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConScan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>com.tippingpoint.conscan.servlet.AuthenticationFilter</filter-class>
        <init-param>
        	<param-name>excludePatterns</param-name>
        	<param-value>/dictionary/.*</param-value>
        </init-param>
  </filter>
  <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/rest/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Startup</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Startup</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Startup</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Activity</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Activity</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Activity</servlet-name>
    <url-pattern>/activity/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Database</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Database</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Database</servlet-name>
    <url-pattern>/database/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Compliance</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Compliance</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Compliance</servlet-name>
    <url-pattern>/compliance/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ComplianceValue</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.ComplianceValue</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ComplianceValue</servlet-name>
    <url-pattern>/compliancevalue/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Location</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Location</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/location/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Offender</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Offender</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Offender</servlet-name>
    <url-pattern>/offender/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Scanner</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Scanner</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Scanner</servlet-name>
    <url-pattern>/scanner/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Staff</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.Staff</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Staff</servlet-name>
    <url-pattern>/staff/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScannerLog</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.ScannerLog</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ScannerLog</servlet-name>
    <url-pattern>/scannerlog/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScannerLogComment</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.ScannerLogCommentService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ScannerLogComment</servlet-name>
    <url-pattern>/scannerlogcomment/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.tippingpoint.conscan.servlet.User</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.tippingpoint.conscan.servlet;com.tippingpoint.conscan.reports</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>