@CHARSET "ISO-8859-1";

table {
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 0px;
	margin: 0px;
}

table thead tr {
	background-color: lightgray;
}

td {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
}