@CHARSET "ISO-8859-1";

table {
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 0px;
	margin: 0px;
/*	width: 100%;*/
}

table thead tr {
	background-color: lightgray;
}

thead td {
	vertical-align: middle;
}

td {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
}

#errordialog {
	cursor: default;
	text-align: center;
}

#errormessage {
	text-align: left;
}

div.hidden {
	display: none;
}

div.erroritem {
	width: 100%;
}

img {
	border: none;
}

div.button {
	cursor: pointer;
}

div.hover {
	font-style: italic;
}