@CHARSET "ISO-8859-1";

h1 {
	background-color: #1BB1E6;
	color: #FFFFFF;
	font-family: sans-serif;
}

table {
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 0;
	margin: 0;
}

table thead tr {
	background-color: lightgray;
}

thead td {
	vertical-align: middle;
}

td {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
}

#errordialog {
	cursor: default;
	text-align: center;
}

#errormessage {
	text-align: left;
}

div.hidden {
	display: none;
}

div.erroritem {
	width: 100%;
}

img {
	border: none;
}

div.button {
	cursor: pointer;
}

div.hover {
	font-style: italic;
}

div.leftmenu {
	float: left;
	margin-right: 2em;
}
	
div.leftmenu h1 {
	font-size: small;
}

div.content h1 {
	font-size: small;
}	

ul.tablemenu {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

ul.tablemenu li {
	text-align: right;
}

.ui-icon {
	float: right;
	cursor: pointer;
}

div#availableservices table, div#availableservices td {
	border: none;
	font-size: small;
}